.checkout-goodie-progress {
    position: relative;
}

.checkout-goodie-progress .pb-tier-separator {
    position: absolute;
    display: block;
    border: 2px solid var(--light);
    height: 1rem;
}

.pb-stage-images {
    display: flex;
    height: 2rem;
}

.pb-stage-images .pb-stage {
    display: flex;
    justify-content: flex-end;
}

.pb-stage-images .pb-stage.pb-stage-default {
    flex-grow: 1;
}

.pb-stage-images .pb-stage .pb-stage-img {
    overflow: hidden;
    margin-left: 0.25rem;
    height: 2rem;
    width: 2rem;
}

.pb-stage-images .pb-stage .pb-stage-img>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}